@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--main-bg-color);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  justify-content: center;
  min-height: 100vh;
}

:root {
  --wrapper-bg-color: #1b1937;
  --main-bg-color: #0a0c1c;
  --element-accent-color: #ab5cdb;
}

.image-container {
  background-color: var(--element-accent-color);
  border-radius: 5px;
}

.wrapper {
  background-color: var(--wrapper-bg-color);
  border-radius: 12.8px;
  display: flex;
  flex-direction: column;
  margin: 56px 32px;
  width: 87.3%;
}

.main-image {
  display: inherit;
  height: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  object-position: center;
  opacity: 75%;
  width: 100%;
}

.text-container {
  text-align: center;
  padding: 32px 36px;
}

.text-header {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.text-header__accent {
  color: var(--element-accent-color);
}

.main-text {
  font-family: "Inter";
  font-size: 0.9375rem;
  line-height: 1.5625;
  margin: 0 0 40px 0;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.kpi-box {
  margin: 24px 0 0 0;
}

.kpi-box__number {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.21;
  margin: 0 0 2px 0;
}

.kpi-box__text {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  line-height: 2.08333;
  margin: 0 0 0 0;
  mix-blend-mode: normal;
  opacity: 0.6;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1110px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    padding: 70px 154px 60px 70px;
    text-align: left;
  }

  .kpi-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
